PORT=3000
NODE_ENV=development
HEADLESS=true
HEADLESS_AUTHENTICATOR=false

# Browser Settings
CONCURRENT_TABS=10

# MySQL Database
DB_HOST=localhost
DB_USER=root
DB_PASS=r00t
DB_NAME=accounts_ytb
DB_DIALECT=mysql
DB_PORT=3306

# Cronjob schedules (cron format)
# DAILY_TASK_SCHEDULE=0 9 * * *
# PERIODIC_TASK_SCHEDULE=*/30 * * * *
